body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
  background-color: #424345 !important;
}

.title {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #0a0a0b;
}

.section-title {
  font-family: Trebuchet, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #424345;
}

.welcome {
  color: #babac5;
}

.dropdown-title {
  font-size: 1.5rem;
  align-content: flex-start;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: auto;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.result {
  margin-top: 20px;
  font-weight: bold;
  color: #333;
}

.navbar {
  border-radius: 5px;
  background-color: rgb(255, 255, 255) !important;
}

.hover-text {
    transition: color 0.3s;
    font-weight: 600;
  }

.hover-text:hover {
    color: #1735e0 !important;
  }

  .box {
    transition: transform 0.2s ease;
    width: 30%;
    border-radius: 10px;
  }
  
  .box:hover {
    transform: scale(1.05); 
  }
